header{

    box-sizing: border-box;
    padding-bottom: 30px;
}

.welcome{
    margin:0px;
    background-color: rgb(233, 161, 73);
    font-size: 40px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
    color: rgb(255, 255, 255);
    padding-top: 40px;
    
}

body{
    
}

.content{
    padding-top: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.word{
    flex:none;
}

/* 
body{
    padding-top: 100px;
    padding: 10px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid grey; */
    /* flex: none; */
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;

} */